<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1>Bora publicar nossas ideias?</h1>
		<%= link_to "novo post", new_post_path, class: "btn btn-primary"%>

		<div class="last">
		<h2>Últimos posts!</h2>
		</div>

			<% @posts.each do |post| %>

			<div class="box">

				<%= image_tag post.image.url, class: "thumb" %>
				
				<div class="text"> 
					<h2><%= post.title %></h2>
					<p><%= post.description %></p>
			  </div>				

				<audio controls class="audio">
					<source src="<%= post.audio.url %>" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				
			</div>

			<% end %>

	</div>
</div> 